.mainBody {
    display: grid;
    grid-template-columns: 240px 70px 1fr;
    margin: 20px auto auto;
    max-width: 1440px;
    width: 100%;
    gap: 10px !important;
    box-sizing: border-box;
    overflow: hidden;
}

.user-avatar img {
    height: 32px;
    width: 33px;
}

.user-avatar {
    width: 44px;
    height: 44px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profits {
    margin: 0 auto !important;
}

.mines-mob {
    padding: 15px !important;
}

@media screen and (max-width: 1366px) {
    .profits {
        max-width: 355px !important;
    }

    .rightMines {
        flex: 1 !important;
    }

    .mines>div {
        flex: 0;
    }
}

@media screen and (max-width: 1280px) {
    .mainBody {
        transform: none !important;
        transform-origin: center !important;
        grid-template-columns: 70px 1fr !important;
    }

    .mainBody > :nth-child(1) {
        display: none !important;
    }

    .col-md-3 {
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 425px) {
    .mainBody {
        grid-template-columns: 1fr !important;
    }

    body, html {
        zoom: 1 !important;
        font-size: 100% !important;
    }

    .vslide_title {
        font-size: 14px !important;
    }
    .slide-button-button {
        min-height: 30px !important;
        font-size: 12px !important;
    }

    .hidePc {
        display: block !important;
    }

    .secondBlock {
        display: none;
    }


    /*
    MINES
     */

    .profits {
        max-width: 285px !important;
        margin: 0 auto;
    }

    .mines {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .portrait .topMenu {
        margin-top: auto !important;
    }
}

.footer {
    display: none !important;
}