.mainBody {
    display: grid;
    grid-template-columns: 240px 84px 1fr;
    margin: 20px auto auto;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 1024px) and (min-width: 425px) {
    body, html {
        zoom: 1 !important;
        font-size: 100% !important;
    }

    .vslide_title {
        font-size: 14px !important;
    }
    .slide-button-button {
        min-height: 30px !important;
        font-size: 12px !important;
    }

    .mainBody {
        transform: none !important;
        transform-origin: center !important;
        grid-template-columns: 84px 1fr !important;
    }

    .hidePc {
        display: block !important;
    }

    .mainBody > :nth-child(1) {
        display: none !important;
    }

    .col-md-3 {
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }


    /*
    MINES
     */

    .profits {
        max-width: 300px;
    }

    .mines>div {
        flex: 1 1 300px;
        min-width: 0;
    }

    .rightMines {
        flex: 1;
    }
}

.footer {
    display: none !important;
}